{% extends 'base.html' %}

{% block cambio1 %}

<div>
    <form action="/app/buscar" method="GET">
        <input type="text" name="nombre">
        <input type="submit" value="Buscar">
    </form>
</div>

<p>
    <a href="{% url 'CursosCreate' %}">Crear</a>
</p>

    {% for curso in object_list %}
        <h2>{{curso.nombre}}</h2>
        <p class="lead mb-0"></p>
            Número de camada: {{curso.camada}}
        </p>
        <p>
            <a href="{% url 'CursosDetail' curso.id %}">Detalles</a>
        </p>

        <p>
            <a href="{% url 'CursosEditar' curso.id %}">Editar</a>
        </p>
        <p>
            <a href="{% url 'CursosEliminar' curso.id %}">Eliminar</a>
        </p>
        <hr>
    {% endfor %}

{% endblock %}